<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>{{ site.title }}</title>
    <meta charset='utf-8'/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
    <meta name="description" content="Alex' flight simulator projects"/>
    <meta name="keywords" content="Little Navmap, Navigation, Moving Map, Flight Planning, Flight Simulation, X-Plane, FSX, Prepar3D, Microsoft Flight Simulator, MSFS"/>
    <meta name="author" content="Alexander Barthel"/>
    <meta name='viewport' content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"/>
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print"/>
    <link rel="alternate" type="application/atom+xml" title="News for Alex' Projects" href="https://albar965.github.io/feed.xml"/>
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="pgpkey" href="alex@littlenavmap.org.pubkey.asc"/>
  </head>

  <body>
    <div id="container">
      <div class="inner">

<!--        <header>
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        </header>
        <section id="downloads" class="clearfix">
          {% if site.show_downloads %}
          <a href="{{ site.github.zip_url }}" id="download-zip" class="button"><span>Download .zip</span></a>
          <a href="{{ site.github.tar_url }}" id="download-tar-gz" class="button"><span>Download .tar.gz</span></a>
          {% endif %}
    {% if site.github.is_project_page %}
          <a href="{{ site.github.repository_url }}" id="view-on-github" class="button"><span>View on GitHub</span></a>
    {% else %}
          <a href="{{ site.github.owner_url }}" id="view-on-github" class="button"><span>View on GitHub</span></a>
    {% endif %}
        </section>
        <hr>-->
        <section id="main_content">
          {{ content }}
        </section>
        <br/><br/><hr/>
        <footer>
        {% if site.github.is_project_page %}
          Alex' Projects is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.<br>
        {% endif %}
          Last upddate on {{ page.date | date_to_rfc822 }}.<br/>
          <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="/assets/images/cc_80x15.png" /></a>    All work on this site is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.<br/>
          <a href="/privacy.html">Privacy Statement</a>
        </footer>

      </div>
    </div>
  </body>
</html>
