<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>{{ site.title }} - {{ page.title }}</title>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print">
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="canonical" href="{{ page.redirect_to }}"/>
    <meta http-equiv="refresh" content="5; URL={{ page.redirect_to }}" />
  </head>

  <body>
    <div id="container">
      <div class="inner">
        <section id="main_content">
          <h1>Redirecting...</h1>
          <a href="{{ page.redirect_to }}">Click here if you are not redirected.<a>
          <script>location='{{ page.redirect_to }}'</script>
        </section>
        <footer>
        {% if site.github.is_project_page %}
          Alex' Projects is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.<br>
        {% endif %}
          Last upddate on {{ page.date | date_to_rfc822 }}.
        </footer>
      </div>
    </div>
  </body>
</html>


